{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    ["babel-plugin-twin", { "debug": false }],
    "babel-plugin-macros"
    // "tailwind-components",
    // "@babel/plugin-syntax-object-rest-spread",
    // "macros"
  ]
}
